* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Raleway", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 115px 490px 135px;
  gap: 5px 5px;
  grid-template-areas:
    "Header Header Header Header"
    "aside main main main"
    "aside footer footer footer";
}

header {
  grid-area: Header;
  background-color: green;
  border-radius: 5px;
}

aside {
  grid-area: aside;
  background: blue;
}

footer {
  grid-area: footer;
  background: orange;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  grid-area: main;
  background: grey;
}

#instruct {
  font-size: 4vw;
}

h1 {
  font-size: 3vw;
}

h1,
p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

aside > div {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.left-text {
  padding: 3vmin;
}

#guess-remain {
  font-size: 10vmin;
  background: lightsteelblue;
}

#wrong-letters {
  font-size: 5vw;
  background: lightsteelblue;
}

main > div {
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;
  padding-top: 5vh;
  align-content: flex-end;
  font-size: 5vw;
}

#guess-msg {
  display: flex;
  flex-grow: 1;
  color: ;
  font-weight: bold;
  font-size: 5vw;
}

#guess {
  color: yellow;
  font-weight: bold;
  letter-spacing: 1vw;
  font-size: 6vw;
}

button {
  outline: none;
  width: 25vw;
  height: 8vh;
  border-radius: 5px;
  color: grey;
  background: white;
  font-size: 3vmin;
}

button:hover {
  color: white;
  background: grey;
  border: grey;
  transition: 1000ms;
}
